@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
body{
    font-family: 'Poppins';
}
#subtitle{
    padding-left: 40px;
    padding-right: 40px;
}
#color{
    color: rgb(255, 185, 55);
}
.button{
    background-color: rgb(255, 185, 55);
    border: 1px solid rgb(255, 176, 30);
    height: 30px;
    width: 150px;
}
.button:hover{
    background-color: rgb(255, 115, 0);
}